<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dao" class="com.zb.pojo.UserDaoImpl"></bean>
    <bean id="mysql" class="com.zb.pojo.UserMysqlImpl"></bean>
    <bean id="oracle" class="com.zb.pojo.UserOracleImpl"></bean>

    <bean id="service" class="com.zb.server.UserServiceImpl">
        <property name="userDao" ref="dao"></property>
    </bean>

</beans>